@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body{
    background: #ffffff;
    color: #000000;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    margin-bottom: -52px;
    z-index: 999;


}

.logo{
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    margin-left: -600px;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    margin-left: -11px;
}

.navbar{
    margin-left: -100px;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    z-index: 999;
    opacity: 0;
    
}

.navbar a:hover,
.navbar a.active{
    color:  #ee2737;
}

.header .nav-btn {
    color: #ee2737;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0 0 20px  rgb(240, 234, 234)
    animation-delay: calc(.2s * var(--i))
    
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size:32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #ee2737;

}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img{
     margin-left: 69px;
     margin-top: 20px;
}

.home-img  .home-img-animation{
    max-width: 990px;
    margin-right: -20px;
    margin-top: -330px;
    margin-bottom: -440px;
    margin-left: 334px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.home-bg1{
    max-width: 1000px;
    margin-left:372px ;
    margin-top: -672px;
    margin-bottom: -430px;
}

.home-bg2{
    max-width: 1000px;
    margin-left: 538px;
    margin-top: -345px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;

}


.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ee2737;
    border-radius: 50%;
    font-size: 20px;
    color:  #ee2737;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    /* background:  rgb(255, 0, 0); */
    /* color: #1f242d; */
    color: white;
    box-shadow: 0 0 20px  #ee2737;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background:  #ee2737;
    border-radius: 40px;
    /* box-shadow: 0 0 10px  rgb(255, 0, 0); */
    font-size: 16px;
    /* color: #1f242d; */
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: #ee2737;
    border: 1px solid #ee2737;
    box-shadow: 0 0 10px  #ee2737;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

/* <-----------------  CATEGORY ------------------> */

.categories-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 99vw;
    background-color: rgb(241, 239, 215);

    height: 400px;

}

.category-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 74vw;
    
}

.category-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}


.cat-boxes{
    background-color: white;
    height: 130px;
    width: 330px;
    margin: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s ease-in-out;
}


.cat-boxes {
    --color: #ffffff;
    --hover: #ee2737;
}

.cat-boxes img{
    border-radius: 50%;
    transition-duration: 1s;
}




.cat-boxes:hover,
.cat-boxes:focus {
  box-shadow: inset -14.5em 0 0 0 var(--hover);
  color: white;
}

.cat-box-info{
    display: flex;
    flex-direction: column;
}

.cat-box-info p{
     font-size: 13px;
}


/* <-----------------  OFFER ------------------> */



.offer{
    background-image: url(../image/home-img/hom-mid1.jpg);
    background-size: cover;
    height: 590px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.OFFER-TEXT {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.OFFER-TEXT h2{
    width: 400px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}


.OFFER-TEXT h4{
    color: yellow;
    padding: 10px;
}

/* <-----------------  Our Special ------------------> */

.smenu-block{
    background-color: rgb(241, 239, 215);
    display: flex;
    flex-direction: column;
}

.smenu-title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smenu-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

}

.smenu-card1{
    height: 413px;
    width: 268px;
    /* background-color: red; */
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* background-color: rgb(241, 239, 215); */
    border-radius: 20px;
    cursor: pointer;
    
}

.card-img img{
    margin-top: -70px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}

.smenu-card1 h3{
    margin-bottom: 20px;
}

.smenu-card1 p{
    margin-bottom: 20px;
    padding:10px;
}

.smenu-card1:hover{
    color: white;
    /* background-color: #ee2737; */
    
    box-shadow: 5px 7px 20px 0px #ec7983;
    transition: 0.5s ease-in-out;
    transform: scale(0.9);
    border: 1.1px solid white;
    
}

.smenu-card1:hover button{
    background-color: white;
    color: #ee2737;
    border: 1px solid #ee2737;
    box-shadow: 0 0 10px  #ee2737;
}

.smenu-card1:hover,
.smenu-card1:focus {
  box-shadow: inset 0 -27.25em 0 0 var(--hover);

}
.smenu-card1{
    --color: #e4cb58;
    --hover: #ee2737;
    transition: 0.5s ease-in-out;
  }

.smenu-card1:hover img{
 animation-name: rotate; 
animation-duration: 2s; 
animation-iteration-count: infinite;
animation-timing-function: linear;   
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


/* <=========================  FLASH CARDS  =====================> */

.flashbox{
    background-color: rgb(241, 239, 215);
    margin-top: -30px;
    padding-top: 60px;
}

.flashycards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

.flashcard{
    overflow: hidden;
    cursor: pointer;
}

.flashcard img{
    --a: 0deg; /* control the angle of rotation (the smaller, the better) */
    /* width: 250px; */
    aspect-ratio: 1;
    border-radius: 20px;
    transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));
    -webkit-mask: 
      linear-gradient(135deg,#000c 40%,#000,#000c 60%)
      100% 100%/250% 250%;
    transition: 1s;
    cursor: pointer;
}

.flashcard img:hover {
    --i: -1;
    -webkit-mask-position: 0 0;
    transform: scale(0.9);
    
  }
  .alt:hover {
    -webkit-mask-position: 100% 0;
  }

.alt {
    --r: 1,1;
    -webkit-mask: 
      linear-gradient(45deg,#000c 40%,#000,#000c 60%)
      0 100%/250% 250%;
  }
  