@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;600&family=Poppins:wght@500&display=swap');
*{
    text-decoration: none;
}
.navbar1{
    background-color: white;
    margin-top: 100px;
    height: 70px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    
}
.navdiv1{
     display: flex;
     margin-left: 50px;
     padding-top: 7px;    
}

.navdiv1{
    justify-content: center;
}

li{
    list-style: name;

    display: inline-block;
    
}
li a{
    color:BLACK;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}
.food-img1{
    width:30px;
    height:30px;
    margin-right: 3px;
    transition: .5s ease-in-out;
}

.food-img1 :hover{
    transform: scale(1.1);
}
.img2{
    width:60px;
    height:60px;
}


.box1{
    height:160px;
    width:220px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    
}
body{
    background-color: #f2f2f2;
}

.class1{
    transition: .4s ease-in-out;
}
.card1{
    height:120px;
    width:220px;
    border: none;
    background-color: white;
    margin-top: 35px;
    border-radius: 7px;
}
.img2{
    width:45px;
    height: 45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}
.food-name1  {
    font-weight: bold;  
    text-align: justify;
    padding-top: 17px;
}
.card1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    transition: .5s ease-in-out;
}
.del1{
    padding-top: 30px;
    padding-right: 30px;
}
.sub-name1{
    font-weight: normal;
    font-size: 13px;
}
.reg-price1{
    font-size: 13px;
    padding-left: 10px;
    display: block;
}
.price1{
    font-weight: bold;
    font-size: large;
    color: #ee2737;
}
.btn1{
    height: 30px;
    width: 30px;
    background-color: #ee2737;
    color: white;
    border: none;
    border-radius: 5px 0px 5px 0px;
    font-size:large;
    margin-left:119px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    width: 90vw;
    margin-left: 100px;
}
.class1:hover{
    /* background-color: #ffe6e6; */
    /* width:90px;
    height: 80px; */
    color :#ee2737;
    transform: scale(1.3);

}

.class1

.navbar1 li :hover{
    color :#ee2737;
    transform: scale(1.1);
}
.head1{
    margin-top: 30px;
    margin-left: 20px;
}
.card1:hover{
    background-color: #ee2737;
    color: white;
    transform: scale(1.1);
}

.card1:hover .btn1{
background-color: white;
color: red;
}
.card1:hover .price1{
/* background-color: white; */
color: rgb(0, 0, 0);
}

.bt1n:hover{
    background-color: white;
    color: black;
}
.order1{
    display: flex;
    justify-content: center;
}
.img-bicycle1{
    height:150px;
}
.orderText1{
   margin-right: 100px;
}
.track-img1{
    border:#ee2737 solid 3px;
    margin-bottom: 150px;
}
.track-btn1{
    background-color: #ee2737;
    height:30px;
    width:120px;
    border:none;
    border-radius: 25px;
    color: white;
    margin-bottom: 150px;
}
.track-btn1:hover{
    background-color: black;
    color: white;
}

.container1{
    margin-bottom: 100px;
}
@media screen and (max-width:600px){
    
.navbar1{
    background-color: white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}
.navdiv1{

     display: flex;
     flex-wrap: wrap;
     
     
}
li{
    list-style: name;
    margin-left: 50px;
    margin-top: 2px;

}
li a{
    color:BLACK;
    font-size: 18px;
    font-weight: bold;
   
}
.container1{
    display: flex;
    flex-wrap: wrap;
}
.class1:hover{
    background-color: #ffe6e6;
    width:40px;
    height: 20px;
    color :#ee2737;}

.food-img1{
    width:20px;
    height:20px;
    margin-right: 3px;
}
.food-img2{
    width:20px;
    height:20px;
}

.box1{
    justify-content: center;
    height:130px;
    width:400px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    
}
body{
    background-color: #f2f2f2;
}
.card1{
    height:120px;
    width:220px;
    border: none;
    background-color: white;
    margin-top: 35px;
    border-radius: 7px;
}
.img2{
    width:45px;
    height: 45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}
.food-name1  {
    font-weight: bold;  
    text-align: justify;
    padding-top: 17px;
}
.card1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
}
.del1{
    padding-top: 30px;
    padding-right: 30px;
}
.sub-name1{
    font-weight: normal;
    font-size: 13px;
}
.reg-price1{
    font-size: 13px;
    padding-left: 10px;
    display: block;
}
.price1{
    font-weight: bold;
    font-size: large;
    color: #ee2737;
}
.btn1{
    height: 30px;
    width: 30px;
    background-color: #ee2737;
    color: white;
    border: none;
    border-radius: 5px 0px 5px 0px;
    font-size:large;
    margin-left:126px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
}
.class1:hover{
    background-color: #ffe6e6;
    width:90px;
    height: 80px;
    color :#ee2737;

}
.order1{
    display: flex;
    justify-content: center;
}
.img-bicycle1{
    height:150px;
}
.orderText1{
   margin-right: 10px;
   margin-left: 20px;
}
.track-img1{
    border:#ee2737 solid 3px;
    margin-bottom: 100px;
}
.track-btn1{
    background-color: #ee2737;
    height:30px;
    width:120px;
    border:none;
    border-radius: 25px;
    color: white;
    margin-bottom: 150px;
}
.track-btn1:hover{
    background-color: black;
    color: white;
}
.card1:hover{
    background-color: black;
    color: white;
}
.btn1:hover{
    background-color: white;
    color: black;
}
.order1{
    display: flex;
    justify-content: center;
}
.img-bicycle1{
    height:100px;
}
.orderText1{
   margin-right: 10px;
   margin-left: 20px;
}
.track-img1{
    border:#ee2737 solid 3px;
    height:80px
}
.track-btn1{
    background-color: #ee2737;
    height:30px;
    width:120px;
    border:none;
    border-radius: 5px;
    color: white;
}
}
@media screen and (min-width:600px) and (max-width:800px){
    .container1{
        display: flex;
    }
    .navbar1{
        background-color: white; 
    }
    .navdiv1{
         display: flex;    
    }
    li{
        list-style: name;
    }
    li a{
        color:BLACK;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        margin-right: 30px;
    }
    .food-img1{
        width:20px;
        height:20px;
        margin-right: 3px;
    }
    .food-img2{
        width:20px;
        height:20px;
    }
    
    .box1{
        justify-content: center;
        height:130px;
        width:400px;
        background-color: white;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        
    }
    body{
        background-color: #f2f2f2;
    }
    .card1{
        height:120px;
        width:220px;
        border: none;
        background-color: white;
        margin-top: 35px;
        border-radius: 7px;
    }
    .img2{
        width:45px;
        height: 45px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
    }
    .food-name1  {
        font-weight: bold;  
        text-align: justify;
        padding-top: 17px;
    }
    .card1{
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
        margin-right: 25px;
    }
    .del1{
        padding-top: 30px;
        padding-right: 30px;
    }
    .sub-name1{
        font-weight: normal;
        font-size: 13px;
    }
    .reg-price1{
        font-size: 13px;
        padding-left: 10px;
        display: block;
    }
    .price1{
        font-weight: bold;
        font-size: large;
        color: #ee2737;
}
.class1:hover{
    background-color: #ffe6e6;
    width:40px;
    height: 20px;
    color :#ee2737;

}}