
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* {
    font-family: 'PT Serif', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;

} */body{
        padding:0;
        margin: 0;
    }

    .heading{
        background-color: #333;
        height:200px;
        width:100%;
        text-align: center;
        
    }

    
    .head-text{
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 30px;
        color: white;
        font-family: 'Rubik', sans-serif;
    }

    .button-head{
        position: absolute;
        top:60%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Rubik', sans-serif;
        
    }

    .btn2{
        background-color: red;
        color: white;
        height: 30px;
        width: auto;
        border-radius: 10px;
        border: none;
    }

    .btn2:hover{
        background-color: red;
        box-shadow: 3px 3px rgb(236, 88, 88) ;
        cursor: pointer;
    }


    
    .container{
        /*background-color: rgb(245, 237, 225);*/
        
    }
    .review-container{
        /*background-color: rgb(245, 237, 225);*/
        padding-top: 40px;
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;

        
    }

    .review-container2{
        /*background-color: rgb(245, 237, 225);*/
        padding-top: 40px;
        display: flex;
        justify-content:space-evenly;
        flex-direction: row-reverse;

        
    }

    .desc-img{
        font-family: 'Montserrat', sans-serif;
               
    }

    .pgh{
        text-align: center;
        text-wrap: wrap;
    }

    
    .img{
        border-radius: 30px;
        border:2px solid red;
        height: 200px;
        width: 250px;
        
        
    }

    .img:hover{
        border-radius: 30px;
        border:2px solid red;
        box-shadow: 2px 1px 2px 2px  red;
        cursor: pointer;

    }


    .button{
        display: flex;
        justify-content: center;
        flex-direction: row;
        /*background-color: rgb(245, 237, 225);*/
        height:100px;
    }

    .btn{
        height:30px;
        width:110px;
        background-color: red;
        color: white;
        border-radius: 5px;
        

    }

    .btn:hover{
       box-shadow: 2px 2px rgb(248, 60, 60);
       background-color:red;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        

    }

   

