
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* .restaurant-info {
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    background-image: url("../image/aboutus-img/backgroundaboutusimg.png.png") ;
    background-size: cover;
    color: white;
    
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
   
  } */

  .restaurant-info{
    height:400px;
    width:100%;
    text-align: center;
    /* margin-top:80px; */
    margin-bottom: 20px;
    padding-top: 70px;
    background-image: url(../image/signin_up/pizza-with-slice-being-taken-out-it_861605-5.jpg);
    object-fit: contain;
  }

  .restaurant-info h2{
    margin-top: 140px;
    
  }
  
  .back-button {
    background-color: #ee2737;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 26px;
  }
  
  .back-button:hover {
    background-color: darkred;
  }
  
 
  .visit-us {
    
    text-align: center;
    padding: 40px 0;
    
  }

  .info-box h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 10px 0px;
  }
  
  .visit-us h2 {
    margin-bottom: 20px;
  }
  
  .video-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px ;
    border-color: white;
    border-radius: 20px;
    background-image: url("../image/aboutus-img/background.png");
    background-size: cover;
  }
  
  .what-we-do {
    text-align: center;
    padding: 40px 0;
    background-color: white;
    color:black;
  }
  
  .info-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
 
  .info-box {
    width: 200px;
    text-align: center ;
    height: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    /* font-size: large; */
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    /* font-weight: bold; */
    margin: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
   
  }
  .info-box1 { width: 200px;
    height: 200px;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
.info-box2 {
    width: 200px;
    text-align: center;
    height: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
  
    
  }
  .info-box3{
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;


  }
  .people{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   

  }
  .people1{
    width: 120px;
    text-align: justify;
    padding: 0px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: medium;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    size: 50px;
    --s: 250px;   
    --b: 8px;    
    --g: 14px;   
    --c: rgb(249, 14, 14);
    margin: 40px 35px;
    transition: .5s ease-in-out;
    


  }
  .people2{
    width: 120px;
    text-align: justify;
    padding: 0px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: medium;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    size: 50px;
    --s: 250px;   
    --b: 8px;    
    --g: 14px;   
    --c: rgb(249, 14, 14);
    margin: 0 5 px;
    

    

  }
  .people3{
    width: 120px;
   
    padding: 0px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: medium;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    size: 50px;
    --s: 250px;   
    --b: 8px;    
    --g: 14px;   
    --c: rgb(249, 14, 14);
    margin: 0 5px;
    

  }
  .people4{
    width: 120px;
    text-align: center;
    padding: 0px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color:black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    size: 50px;
    --s: 250px;   
    --b: 8px;    
    --g: 14px;   
    --c: rgb(249, 14, 14);
    margin: 0 5px;

  }
  .people4 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .people3 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }  .people2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }  .people1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
.people1:hover, .people2:hover,.people3:hover,.people4:hover {
  background-color: rgb(240, 73, 73);
  outline: var(--b) solidvar(--c);
  /* outline-color: #ee2737; */
  outline-style: double;
  outline-offset: var(--g);
  transform: scale(1.1);
}
/* @keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
} */
.info-box:hover,.info-box1:hover,.info-box2:hover,.info-box3:hover{ background-color: rgb(240, 73, 73) ;
  animation: bounce 1s;
  
  }

.info-box{
  transition: 1s ease-in-out;
}

.info-box :hover{
  background-color: #ee2737;
  color: white;
}

.info-box :hover h2{
  color: white;
}